$header-background: #171a21;
$header-text: #c3c2bd;
$header-button: #577e11;
$navbar-bg: #366485;

$jumbo-bg: #0f1014;
$main-bg: #424b5a;
$card-bg: #3f4752;
$card-text: #9fa6b0;
$card-tag-bg: #373f4a;
$card-text-discount: #96c612;
$card-bg-bg-discount: #577e11;
$card-bg-discount-price:#373f4a;

$footer-background: #171a21;
$footer-text: #c3c2bd;